<% layout('./layouts/boilerplate') -%>
<body>
  
  <form class="FORM needs-validation" novalidate method="post" action="/listings/<%= editdata._id %>?_method=PUT" enctype="multipart/form-data">

    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" class="form-control" id="title" 
             value="<%= editdata.title %>" 
             name="listing[title]" required>
      <div class="invalid-feedback">Please enter a title.</div>
    </div>
<div class="mb-3">
  <img src="<%= originalurl %>" 
       alt="image" 
       class="card-img-top show-img mt-3" 
       style="height:150px; width:100px; object-fit:cover;">
</div>

    <div class="mb-3">
      <label for="image" class="form-label">New Image</label>
      <input type="file" class="form-control" id="image"  
             name="listing[image]">
     
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="number" class="form-control" id="price" 
             value="<%= editdata.price %>" 
             name="listing[price]" min="0" required>
      <div class="invalid-feedback">Please enter a valid price.</div>
    </div>

    <div class="native-select">
  <label for="category-select">Choose a category</label>
  <select id="category-select" name="listing[category]" required>
    <option value="<%= editdata.category %>"><%= editdata.category %></option>
    <option value="mountain">Mountain</option>
           
            <option value="farm">Farm</option>
             <option value="cities">Cities</option>
            <option value="pool">Pool</option>
            <option value="beach">Beach</option>
            <option value="forest">Forest</option>
            <option value="boat">Boat</option>
  </select>
</div>
        
    <div class="mb-3">
      <label for="location" class="form-label">Location:</label>
      <input type="text" class="form-control" id="location" 
             value="<%= editdata.location %>" 
             name="listing[location]" required>
      <div class="invalid-feedback">Please enter a location.</div>
    </div>

    <div class="mb-3">
      <label for="country" class="form-label">Country:</label>
      <input type="text" class="form-control" id="country" 
             value="<%= editdata.country %>" 
             name="listing[country]" required>
      <div class="invalid-feedback">Please enter a country.</div>
    </div>
        
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea id="description" class="form-control" 
                name="listing[description]" rows="5" required><%= editdata.description %></textarea>
      <div class="invalid-feedback">Please provide a description.</div>
    </div>
  
    <button type="submit" class="newbtn">Submit</button>
  </form>
</body>
