<% layout('./layouts/boilerplate') -%>

<body>
    <h1>ALL LISTINGS</h1>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for (let list of alllistings) { %>
            <a class="card-link" href="/listing/<%= list._id %>">
                <div class="card col listing-card">
                    <img src="<%= list.image && list.image.url ? list.image.url : '/images/default.jpg' %>" 
                         class="card-img-top" 
                         alt="listing" 
                         style="height: 20rem">

                    <div class="card-img-overlay">.</div>

                    <div class="card-body">
                        <p class="card-text">
                            <b><%= list.title || "Untitled" %></b> <br>
                            &#8377; <%= list.price ? Number(list.price).toLocaleString("en-IN") : "N/A" %>/night <br>
                            <%= list.location || "Unknown location" %> <br>
                            <%= list.country || "Unknown country" %>
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>
