<% layout('./layouts/boilerplate') -%>

    <body>
        <div class="row mt-3 ">
            <div class="col-8 offset-2">
                <h1>
                    <%=data.title %>
                </h1>
            </div>

            <div class="card col-6 offset-2 listing-card">
                <img src="<%= data.image.url %>" class="card-img-top show-img mt-3" alt="listing image">
                <div class="card-body">
                    <div class="card-text mt-3">

                        <p>
                            <%= data.description %>
                        </p>
                        <p> &#8377 <%= data.price.toLocaleString("en-IN") %>
                        </p>
                        <p>
                            <%= data.location %>
                        </p>
                        <p>
                            <%= data.country %>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Buttons aligned with card -->
            <div class="d-flex justify-content-between mt-3">
                <a href="/listings/<%= data._id %>/edit"><button class="btn btn-outline-info">Edit</button></a>
                <form method="post" action="/listings/<%= data._id %>?_method=DELETE">
                    <button class="btn btn-outline-danger">Delete</button>
                </form>
            </div>

            <div class="col-8 offset-2 mb-3">
                <hr>
                <h2>leave you review</h2>
                <form action="/listing/<%= data._id %>/review" method="post" novalidate class="needs-validation">
                    <div class="mb-3 mt-3">
                        <label for="rating" class="form-label">rating</label>
                        <input type="range" class="form-range" min="1" max="5" name="review[rating]" id="rating">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="comment" class="form-label">comment</label>
                        <textarea name="review[comment]" id="comment" rows="10" cols="30" class="form-control"
                            required></textarea>
                        <div class="invalid-feedback">Please add some comments.</div>
                    </div>
                    <button class="btn btn-outline-success">submit</button>
                    <hr>

                    <h4>All reviews</h4>
                    <div class="row">
                        <% for(let r of data.review){ %>
                            <div class="card col-5 ms-3 mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Tamojit</h5>
                                    <p class="card-text">
                                        <%= r.comment %>
                                    </p>
                                    <p class="card-text">Rating: <%= r.rating %>
                                    </p>
                                    <form action="/listing/<%= data._id%>/review/<%=r._id%>?_method=DELETE" method="POST" class="mb-3">
                                        <button class="btn btn-dark btn-sm ">Delete</button>
                                    </form>
                                </div>

                                

                            </div>
                            <% } %>
                    </div>


                </form>
            </div>

        </div>









    </body>