<% layout('./layouts/boilerplate') -%>

<body>
    <h1>listing details</h1>
    <p> <%= data.title %> </p>
     <p> <%= data.description %> </p>
      <p> &#8377 <%= data.price.toLocaleString("en-IN") %> </p>
       <p> <%= data.location %> </p>
        <p> <%= data.country %> </p>
        <a href="/listings/<%=data._id%>/edit">Edit</a>
        <br>
        <br>
        <form method="post" action="/listings/<%=data._id%>?_method=DELETE" >
            <button>delete</button>
        </form>
    
</body>
